div.ant-list-vertical .ant-list-item-content,
div.ant-list-vertical .ant-list-item-meta,
div.ant-list-vertical .ant-list-item-meta-title {
  margin-bottom: 0;
}

.messages {
  flex: 1;
  overflow: auto;
}

.messages > div {
  padding: 0 2vw;
}


.messages > div .ant-list-item {
  padding: 12px 10px;
}

.messages .ant-list .ant-list-item-meta-content > * {
  display: inline-block;
  margin-right: 5px;
}

.messages .ant-list .ant-list .ant-list-item-meta-content > * {
  display: block;
  margin-right: 0;
}

.message-console {
  width: 100%;
  flex: none;
  justify-content: center;
  background: white;
  display: flex;
  margin: auto;
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid #e8e8e8;
}

.message-console > div {
  display: flex;
  max-width: 600px;
  width: calc(100% - 20px);
  align-items: baseline;
  align-items: flex-start;
}

.message-console > div > button {
  margin-top: 10px;
}

.Discuss .top-bar-wrapper + div {
  height: calc(100% - 52px);
  overflow: hidden;
}

.Discuss .top-bar-wrapper + div > div {
  padding: 0;
}

.Discuss div.top-bar-wrapper:after {
  opacity: 1;
}

.widescreen .Discuss .project-view-inner-content {
  height: 100%;
}

.widescreen .Discuss div.top-bar-wrapper:after {
  display: block;
}

textarea.input {
  resize: none;
}
