div.project-sider {
    overflow-x: hidden;
    background: #FFF;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.main-layout * {
    transition: all 0.4s cubic-bezier(0,.65,.27,1) !important;
    transform: translateZ(0);
  }