div.project-sider {
    overflow-x: hidden;
    background: linear-gradient(to bottom right, #1990FF,#22A9FF);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

div.project-sider .project-icon {
    transform: scale(0.9);
}

.project-view-content, .project-view-wrapper {
    transition: transform 0.4s cubic-bezier(0,.65,.27,1);
    transform: translateZ(0);
  }

