span.primary-icon {
    margin: 5px;
    border-radius: 52px;
    width: 52px;
    height: 52px;
    background-color: #F4F4F4;
    font-size: 20px;
    color: rgb(187, 187, 187);
    padding-top: 10px;
    background-size: cover;
    animation: fade-in 0.3s ease forwards;
    text-align: center;
}


.primary-icon span.ant-avatar-string {
    position: static !important;
}


@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
    }
  }