span.primary-icon {
    margin: 5px;
    border-radius: 52px;
    width: 52px;
    height: 52px;
    background: linear-gradient(to bottom right, #1990FF,#22A9FF);
    font-size: 20px;
    color: white;
    padding-top: 10px;
    background-size: cover;
    animation: fade-in 0.3s ease forwards;
    text-align: center;
}

.project-sider span.primary-icon {
    background: rgba(244, 244, 244, 0.21);
    color: hsla(0, 0%, 100%, 0.72);
    background-size: cover;
}


.primary-icon span.ant-avatar-string {
    position: static !important;
}


@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
    }
  }