.project-sider {
    height: 100%;
}

ul.sider-menu {
    text-align: left;
    color:black;
    background: hsla(216, 20%, 99%, 1);
    border-right: none;
    /* box-shadow: inset -60px 0px 60px -60px rgba(0,0,0,0.2) !important; */
}

ul.sider-menu.settings-menu {
    position: absolute;
    bottom: 24px;
}

/* .widescreen ul.sider-menu {
    box-shadow: none !important;
} */