.project-icon.selected .primary-icon {
  background-color: #1890FF;
  box-shadow: rgba(4, 111, 210, 0.24) 0px 5px 20px;
  color: rgb(255, 255, 255);
  border-radius: 20px;
}

.project-icon span {
  transition: border-radius 0.4s cubic-bezier(0, 0.65, 0.27, 1), color 0.1s ease, background-color 0.4s ease;
  cursor: pointer;
}

.project-icon span.primary-icon:hover {
    background-color: rgb(236, 247, 252);
    color: rgb(25, 144, 255);
}

.project-icon span.primary-icon:active {
    background-color: rgb(206, 234, 247)
}

.project-icon.selected span.primary-icon:hover {
    background-color: #1890FF;
    color: rgb(255, 255, 255);
}

.project-icon.selected span.primary-icon:active {
    background-color: #1890FF;
}
