div.project-view-sider {
    overflow: auto;
    height: 100%;
    opacity: 1;
    background:#FFF;
    /* border-right: 1px solid #e8e8e8; */
    box-sizing: border-box;
    box-shadow: -2px 0px 8px #f0f1f2
}

div.project-view-sider .project-sider {
    background-color:#FFF
}

div.project-view-sider .ant-layout-sider-children {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

div.project-view-content {
    min-width: 100vw;
    max-width: 100vw;   
    height: 100%;
    background: white;
    box-shadow: -2px 0px 8px #f0f1f2
}

.project-view-inner-content {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    height: 100%;
    padding: 20px 10px;
    background: #fff;
}

.project-view-inner-content > div {
    text-align: center;
}

.widescreen div.project-view-content {
    min-width: unset;
    max-width: unset; 
    width: auto;
    height: 100%;
    overflow-y: auto;
}

.widescreen .project-view-inner-content {
    height: auto;
    flex:none;
}