.project-icon.selected .primary-icon {
  background-color: #1890FF;
  box-shadow: rgba(4, 111, 210, 0.24) 0px 5px 20px;
  color: rgb(255, 255, 255);
  border-radius: 20px;
}

.project-icon span {
  transition: 0.4s cubic-bezier(0, 0.65, 0.27, 1);
  transition-property: border-radius, background-color;
  cursor: pointer;
}

.project-icon span.primary-icon:hover {
    background-color: rgb(236, 247, 252)
}

.project-icon span.primary-icon:active {
    background-color: rgb(206, 234, 247)
}

.project-icon.selected span.primary-icon:hover {
    background-color: #1890FF;
}

.project-icon.selected span.primary-icon:active {
    background-color: #1890FF;
}
