div.project-view-sider {
    overflow: auto;
    height: 100vh;
    opacity: 1;
    background:#FCFCFD;
    border-right: 1px solid #e8e8e8;
    box-sizing: border-box;
}

div.project-view-content {
    min-width: 100vw;
    height: 100%;
    background: white;
}

.project-view-inner-content {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    height: 100%;
    padding: 20px 10px;
    background: #fff;
}

.project-view-inner-content > div {
    height: 1000px;
    text-align: center;
}

.widescreen .project-view-content {
    min-width: auto;
    height: 100%;
    overflow-y: auto;
}

.widescreen .project-view-inner-content {
    height: auto;
    flex:none;
}