div.project-view-sider {
    overflow: auto;
    height: 100vh;
    opacity: 1;
    background:#e7e9eb;
    box-shadow: inset -50px 0px 50px -50px rgba(0,0,0,0.1);
}

.project-view-content {
    min-width: 100vw;
    height: 100%;
}

.project-view-inner-content {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    height: 100%;
    padding: 20px 10px;
}

.project-view-inner-content > div {
    height: 1000px;
    text-align: center;
}

.widescreen div.project-view-sider {
    box-shadow: none;
}

.widescreen .project-view-content {
    min-width: auto;
    height: 100%;
    overflow-y: auto;
}

.widescreen .project-view-inner-content {
    height: auto;
    flex:none;
}