div.top-bar-wrapper {
  height: 52px;
  flex: none;
}

div.top-bar-wrapper:after,
div.top-bar-wrapper .heading {
  transition: opacity 0.2s ease;
}

div.top-bar {
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  padding-top: 8px;
  height: 52px;
  backdrop-filter: blur(10px) saturate(2);
  line-height: 52px;
}

div.top-bar-wrapper:after {
  content: "";
  width: 100%;
  height: 52px;
  display: block;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  transform: translateY(-52px);
}

div.top.top-bar-wrapper:after {
  opacity: 0;
}

.top div.top-bar {
  background: transparent;
  backdrop-filter: none;
}

.transparent.top div.top-bar > .heading {
  opacity: 0;
}

.widescreen div.top-bar {
  backdrop-filter: none;
}

.widescreen div.top-bar-wrapper:after {
  display: none;
}

.top-bar > .heading {
  flex: 1;
  align-self: center;
  font-weight: bold;
}

.top-bar > .left-button,
.top-bar > .right-button {
  width: 36px;
  height: 36px;
  background: none;
  border: none;
  color: #1990ff;
  box-shadow: none;
}

.top-bar > .left-button:hover,
.top-bar > .right-button:hover,
.top-bar > .left-button:focus,
.top-bar > .right-button:focus,
.top-bar > .left-button:active,
.top-bar > .right-button:active {
  background: none;
  border: none;
}

.top-bar > .right-button,
.top-bar > .right-button:hover,
.top-bar > .right-button:focus,
.top-bar > .right-button:active {
  color: #1990ff;
}


.widescreen .top-bar > .right-button,
.widescreen .top-bar > .right-button:hover,
.widescreen .top-bar > .right-button:focus,
.widescreen .top-bar > .right-button:active {
  background: #1990ff;
  color: white;
  box-shadow: rgba(4, 111, 210, 0.24) 0px 5px 20px;
}

.widescreen div.top-bar {
  background: none;
}

.widescreen div.top-bar .left-button {
  opacity: 0;
  pointer-events: none;
}
