.App {
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 14px;
  overflow: hidden;
  color: #000;
  word-wrap: break-word;
}

.App > div > div {
  transition: opacity 0.3s ease;
}

.ant-layout.ant-layout-has-sider {
  height: 100%;
}

.ant-layout-sider-children {
  white-space: nowrap;
}

.modal-mount {
  height: 100%;
}

.modal-mount .ant-modal-mask {
  z-index: 0;
}

.modal-mount .ant-modal-wrap {
  position: static;
  overflow: visible;
  pointer-events: all;
}