@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i");

* {
  font-family: "-apple-system", "Segoe UI", "BlinkMacSystemFont",
    "Helvetica Neue", "Noto Sans", "Roboto", Arial, Helvetica, sans-serif !important;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold !important;
}

h3 {
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.65;
  margin-top: 10px !important;
}

#root {
  height: 100%;
  width: 100%;
  user-select: none;
  overflow: hidden;
}

/* @media (max-width: 767px) {
  div.ant-modal {
    margin: 0px ;
    top: 0;
    height: 100%;
    padding:0;
  }

  .ant-modal-content {
    box-shadow: none;
    height: 100%;
    display: flex;
    flex-direction: column;

  }
  .ant-modal-body {
    flex: 1;
    overflow: auto;
  }

  .ant-modal-body h2 {
    margin-top: -8px;
  }

  .ant-modal-footer {
    flex: 0 0;
    height: 53px;
  }
} */
.ant-select-dropdown-menu {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.App .project-view-content {
  background: #f9f9f9;
}

.App .project-view-inner-content {
  background: #f9f9f9;
}
.App > div > div > div:not(.widescreen) .project-view-inner-content {
  padding: 0 !important;
}

.ant-card {
  border: none !important;
}

.App > div > div > div:not(.widescreen) .ant-card {
  max-width: initial !important;
}
