html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100%;
  width: 100%;
  user-select: none;
}

@media (max-width: 767px) {
  div.ant-modal {
    margin: 0px ;
    top: 0;
    height: 100vh;
  }

  .ant-modal-content {
    box-shadow: none;
    height: 100vh;
    display: flex;
    flex-direction: column;

  }
  .ant-modal-body {
    flex: 1;
    overflow: auto;
  }

  .ant-modal-body h2 {
    font-size: 14px;
    margin-top: -8px;
  }

  .ant-modal-footer {
    flex: 0 0;
  }
}
